@import "variables";
@import "button";

* {
	font-size: 14px;
	font-family: 'Montserrat', 'Avenir Next', 'Lato', 'Helvetica Neue';
	font-weight: 400;
}

html, body {
	margin: 0;
	padding: 0;
}

.container {
	padding: 20px 40px;
}