@fa-font-path: '../node_modules/font-awesome/fonts';

// colors
@primaryColor: @blue;
@secondaryColor: @black;
@red: #ED3E3E; //#DB2828; //#;
@orange: #F39C12;
@yellow: #FFDA5C;
@olive: #B5CC18;
@green: #3BBA82;
@teal: #00B5AD;
@blue: #29A9FF;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@grey: #BDC3C7;
@black: #33495F;

// base button size
@btnFontSize: 1rem;

// tables
@tableBorderColor: lighten(@grey, 10%);
@tableHeaderBorderColor: lighten(@grey, 14%);
@tableInnerBorderColor: lighten(@grey, 18%);
@tableHeaderBg: lighten(@grey, 20%);